<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<!-- embed javascript for generating graphs (pygal) -->
	<script type="text/javascript" scr="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
	<script type="text/javascript" scr="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

	<!-- side menu -->
	<div class="col-sm-3  col-md-2 sidebar">
		{% include 'weather_menu.html' %}
	</div>

	<!-- main content -->	
	<div class="col-sm-9 col-md-10">
	<h1>5-days weather forecast</h1>
	<p>
	<br>
	{% include 'location.html' %}
	<br>

	<h3>
		Place: {{ w_forecast['city']['name'] }}
	</h3>
	
	<!-- generate the temperature chart -->
	{{ temp_chart.render()|safe }}
	
	<!-- generate the rain chart -->
	{{ rain_chart.render()|safe }}
	</div>
	</div>
{% endblock %}
