<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<!-- embed javascript for generating graphs (pygal) -->
	<script type="text/javascript" scr="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
	<script type="text/javascript" scr="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

	<div id="box_left">
		{% include 'weather_menu.html' %}
	</div>
	<div id="box_right">
	<h1>14-days weather forecast</h1>
	<p>
	<table>
		<tr>
			<td>Place</td>
			<td>{{ w_forecast['city']['name'] }}</td>
		</tr>
		<br>
		<tr>
			<td>Date</td>
			<td>Minimum</td>
			<td>Maximum</td>
			<td>Speed</td>
			<td>Direction</td>
		</tr>
		{% for line in w_forecast['list'] %}
			<tr>
				<td>{{ line['date_txt'] }}</td>
				<td><center>{{ line['temp']['min_round'] }}</center></td>
				<td><center>{{ line['temp']['max_round'] }}</center></td>
				<td>
					{% set pic_url = 'http://openweathermap.org/img/w/' + 
					line['weather'][0]['icon'] + '.png' %}
					<img src="{{ pic_url }}"> 
				</td>
				<td>{{ line['weather'][0]['description'] }}</td>
				<td><center>{{ line['beaufort'] }}</center></td>
				<td><center>{{ line['dir'] }}</center></td>
			</tr>
		{% endfor %}
		
	</table>
	
	<!-- generate the temperature chart -->
	{{ temp_chart.render()|safe }}
	
	<!-- generate the rain chart -->
	{{ rain_chart.render()|safe }}
	</div>
{% endblock %}
