<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="box_left"></div>
	<div id="box_right">
	<h1>14-days weather forecast</h1>
	<p>
	<table>
		<tr>
			<td>Place</td>
			<td>{{ w_forecast['city']['name'] }}</td>
		</tr>
		<br>
		<tr>
			<td>Date</td>
			<td>Minimum</td>
			<td>Maximum</td>
		</tr>
		{% for line in w_forecast['list'] %}
			<tr>
				<td>{{ line['date_txt'] }}</td>
				<td><center>{{ line['temp']['min_round'] }}</center></td>
				<td><center>{{ line['temp']['max_round'] }}</center></td>
				<td>
					{% set pic_url = 'http://openweathermap.org/img/w/' + 
					line['weather'][0]['icon'] + '.png' %}
					<img src="{{ pic_url }}"> 
				</td>
				<td>{{ line['weather'][0]['description'] }}</td>
			</tr>
		{% endfor %}
		
	</table>
	</div>
{% endblock %}
