<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="box_left">
		{% include 'weather_menu.html' %}
	</div>
	<div id="box_right">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1>Actual Weather</h1>
	<p>
	<br>
	{% include 'location.html' %}
	<br>
	<table>
		<tr>
			<td>Place</td>
			<td>{{ w_forecast['name'] }}</td>
		</tr>
		<tr>
			<td>Temperature</td>
			<td>{{ w_forecast['main']['temp'] }} </td>
		<tr>
			<td>Description</td>
			<td>
				{% set pic_url = 'http://openweathermap.org/img/w/' + w_forecast['weather'][0]['icon'] + '.png' %}
				<img src="{{ pic_url }}"> {{ w_forecast['weather'][0]['description'] }}
			</td>
		</tr>
		<tr>
			<td>Wind</td>
			<td>{{ w_forecast['wind']['beaufort'] }} bft, 
				{{ w_forecast['wind']['dir'] }}</td>
		</tr>
		<tr>
			<td>Humidity</td>
			<td>{{ w_forecast['main']['humidity'] }}%</td>
		</tr>
		<tr>
			<td>Pressure</td>
			<td>{{ w_forecast['main']['pressure'] }}</td>
		</tr>
		<tr>
			<td>Rainfall</td>
			<td> {{ w_forecast['rainfall'] }} </td>
		</tr>
		
	</table>
	</div>
{% endblock %}
