<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<!-- side menu -->
	<div class="col-sm-3  col-md-2 sidebar">
		{% include 'weather_menu.html' %}
	</div>
	
	<!-- main content -->	
	<div class="col-sm-9 col-md-10">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1>Actual Weather</h1>
	<p>
	<br>
	{% include 'location.html' %}
	<br>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Place</th>
					<th>{{ w_forecast['name'] }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Temperature</td>
					<td>{{ w_forecast['main']['temp'] }} </td>
				<tr>
					<td>Description</td>
					<td>
						{% set pic_url = 'http://openweathermap.org/img/w/' + w_forecast['weather'][0]['icon'] + '.png' %}
						<img src="{{ pic_url }}"> {{ w_forecast['weather'][0]['description'] }}
					</td>
				</tr>
				<tr>
					<td>Wind</td>
					<td>{{ w_forecast['wind']['beaufort'] }} bft, 
						{{ w_forecast['wind']['dir'] }}</td>
				</tr>
				<tr>
					<td>Humidity</td>
					<td>{{ w_forecast['main']['humidity'] }}%</td>
				</tr>
				<tr>
					<td>Pressure</td>
					<td>{{ w_forecast['main']['pressure'] }}</td>
				</tr>
				<tr>
					<td>Rainfall</td>
					<td> {{ w_forecast['rainfall'] }} </td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
{% endblock %}
