<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="box_left"></div>
	<div id="box_right">
	<h1>Gegevens computer</h1>
	<p>
	<table>
		<tr>
			<td>Browser:</td>
			<td>{{ user_agent.browser.family }}, version {{ user_agent.browser.version_string }}</td>
		</tr>
		<tr>
			<td>Operating system:</td>
			<td>{{ user_agent.os.family }}, version {{ user_agent.os.version_string }}</td>
		</tr>
		<tr>
			<td>Device:</td>
			<td>{{ user_agent.device.family }}</td>
		</tr>
		<tr>
			<td>Screen:</td>
			<td><p id="screenSize"></p></td>
		</tr>
	</table>
	</div>
{% endblock %}

<script src="client_dect.js">
	function fill_screen_size() {
		document.getElementById("screenSize").innerHTML = screenSize (window);
	}

	windows.onload = fill_screen_size ()
</script>

