<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="box_left"></div>
	<div id="box_right">
	<form class="form-horizontal" action="" method="post" name="spreuk">
		{{ form.hidden_tag() }}

		<div class="heading">
			<h1 class="form-heading">Maintenance of quotes and sayings</h1>
		</div>

		<div class="form-group {% if form.body.errors %} has-error {% endif %}">
			{{ form.body.label(class="col-sm-2") }}
			<div class="col-sm-6">
				{{ form.body (class="form-control") }}
			</div>
			<p class="col-sm-4 help-block">
			{{ form.body.errors[0] }}
		</div>

		<div class="form-group {% if form.auteur.errors %} has-error {% endif %}">
			{{ form.auteur.label(class="col-sm-2") }}
			<div class="col-sm-6">
				{{ form.auteur (class="form-control") }}
			</div>
			<p class="col-sm-4 help-block">
			{{ form.auteur.errors[0] }}
		</div>

		<div class="form-group {% if form.soort.errors %} has-error {% endif %}">
			{{ form.soort.label(class="col-sm-2") }}
			<div class="col-sm-6">
				{{ form.soort (class="form-control") }}
			</div>
			<p class="col-sm-4 help-block">
			{{ form.soort.errors[0] }}
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Citaat</th>
					<th>Auteur</th>
					<th>Categorie</th>
				</tr>
			</thead>
			<tbody>
			{% for spreuk in spreuken %}
				{% include 'spreuk.html' %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	</div>
{% endblock %}
