<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="box_left"></div>
	<div id="box_right">
	<h1>Beheer spreuken en citaten</h1>
	<form action="" method="post" name="spreuk">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<td>Citaat:</td>
				<td>{{ form.body(cols="60", rows="3") }}</td>
			</tr>
			{% for error in form.body.errors %}
			<span style="color: red;">[{{ error }}]</span><br>
			{% endfor %}
			<tr>
				<td>Auteur:</td>
				<td>{{ form.auteur(size=32, maxlength=32) }}</td>
			</tr>
			<tr>
				<td>Soort:</td>
				<td>{{ form.soort }}</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Add"</td>
			</tr>
		</table>
	</form>
	<table>
		<tr>
			<td>Citaat</td>
			<td>Auteur</td>
			<td>Categorie</td>
		</tr>
	{% for spreuk in spreuken %}
		{% include 'spreuk.html' %}
	{% endfor %}
	</table>
	</div>
{% endblock %}
